{{ if type == 'editor' }}
  {{ partial:components/blocks/editor }}
{{ /if }}

{{ if type == 'video' }}
  {{ partial:components/blocks/video }}
{{ /if }}

{{ if type == 'anchor' }}
  {{ partial:components/blocks/anchor }}
{{ /if }}

{{ if type == 'header_image' }}
  {{ partial:components/blocks/header_image }}
{{ /if }}

{{ if type == 'single_image' }}
  {{ partial:components/blocks/single_image }}
{{ /if }}

{{ if type == 'page_section' }}
  {{ partial:layout/section }}
{{ /if }}

{{ if type == 'team' }}
  {{ partial:components/blocks/team }}
{{ /if }}

{{ if type == 'history' }}
  {{ partial:components/blocks/history }}
{{ /if }}

{{ if type == 'street_view' }}
  {{ partial:components/blocks/street_view }}
{{ /if }}

{{ if type == 'services' }}
  {{ partial:components/blocks/services }}
{{ /if }}

{{ if type == 'gallery' }}
  {{ partial:components/blocks/gallery }}
{{ /if }}

{{ if type == 'replacement_cars' }}
  {{ partial:components/blocks/replacement_cars }}
{{ /if }}

{{ if type == 'contact' }}
  {{ partial:components/blocks/contact }}
{{ /if }}

{{ if type == 'appointment' }}
  {{ partial:components/blocks/appointment }}
{{ /if }}

{{ if type == 'damage_report' }}
  {{ partial:components/blocks/damage_report }}
{{ /if }}
