{{ if type == 'editor' }}
  {{ partial:components/blocks/editor }}
{{ /if }}

{{ if type == 'slideshow_fullscreen' }}
  {{ partial:media/slideshow_fullscreen }}
{{ /if }}

{{ if type == 'intro_homepage' }}
  {{ partial:components/blocks/intro_homepage }}
{{ /if }}

{{ if type == 'intro_content' }}
  {{ partial:components/blocks/intro_content }}
{{ /if }}

{{ if type == 'special_teaser' }}
  {{ partial:components/blocks/special_teaser }}
{{ /if }}

{{ if type == 'page_teaser' }}
  {{ partial:components/blocks/page_teaser }}
{{ /if }}

{{ if type == 'event_teaser' }}
  {{ partial:events/list }}
{{ /if }}

{{ if type == 'video' }}
  {{ partial:components/blocks/video }}
{{ /if }}

{{ if type == 'two_columns_text_image' }}
  {{ partial:components/blocks/two_columns_text_image }}
{{ /if }}

{{ if type == 'two_columns_text_only' }}
  {{ partial:components/blocks/two_columns_text_only }}
{{ /if }}

{{ if type == 'one_column_text_wide' }}
  {{ partial:components/blocks/one_column_text_wide }}
{{ /if }}

{{ if type == 'three_columns_lead_text_image' }}
  {{ partial:components/blocks/three_columns_lead_text_image }}
{{ /if }}

{{ if type == 'three_columns_text_image_info' }}
  {{ partial:components/blocks/three_columns_text_image_info }}
{{ /if }}

{{ if type == 'two_columns_text_infobox' }}
  {{ partial:components/blocks/two_columns_text_infobox }}
{{ /if }}

{{ if type == 'two_columns_articles' }}
  {{ partial:components/blocks/two_columns_articles }}
{{ /if }}

{{ if type == 'anchor' }}
  {{ partial:components/blocks/anchor }}
{{ /if }}

{{ if type == 'opening_hours_pricing' }}
  {{ partial:components/blocks/opening_hours_pricing }}
{{ /if }}

{{ if type == 'impressions' }}
  {{ partial:components/blocks/impressions }}
{{ /if }}

{{ if type == 'shop_teaser' }}
  {{ partial:components/blocks/shop_teaser }}
{{ /if }}

{{ if type == 'single_image' }}
  {{ partial:components/blocks/single_image }}
{{ /if }}