<nav 
  class="max-w-3xl mx-auto pb-0 mt-30 xl:mt-45 relative {{ class }}"
  data-flyout-menu>

  <ul class="flex gap-x-0 text-sm">
    {{ nav:main }}
      <li>
        <a 
          href="{{ children ? 'javascript:;' : url }}" 
          {{ if children }} 
            data-flyout-show="{{ title | slugify }}"
          {{ else }}
            data-flyout-hide
          {{ /if }}
          class="block uppercase tracking-wider leading-none pt-5 lg:px-10 xl:px-20 {{ is_current || is_parent ? 'font-calibre-semi font-semibold' : '' }}"
          target="{{ is_external ? '_blank' : '_self' }}"
          title="{{ title }}"
          >
          {{ title | replace(' ', '&nbsp;') }}
        </a>
      </li>
    {{ /nav:main }}
  </ul>
 
  <div 
    class="absolute left-0 top-20 pt-20 inline-flex text-sm h-auto w-auto min-w-[200px] 2xl:min-w-[250px] opacity-0 pointer-events-none transition-all duration-200"
    data-flyout-container>
    <div 
      class="flex relative px-20 py-15 min-w-[120px] h-auto bg-white rounded-[2px] border-2 border-black after:content-[''] after:absolute after:-top-[15px] after:left-[8px] after:xl:left-[17px] after:h-0 after:w-0 after:border-x-[8px] after:border-b-[15px] after:border-x-transparent after:border-b-white after:z-[1] before:content-[''] before:absolute before:-top-[18px] before:left-[7px] before:xl:left-[16px] before:h-0 before:w-0 before:border-x-[9px] before:border-b-[16px] before:border-x-transparent before:border-b-black before:z-0">
      {{ nav:main }}
        {{ if children }}
          <div 
            class="hidden opacity-0" 
            data-flyout-items="{{ title | slugify }}">
            <ul>
              {{ children }}
                <li class="relative flex justify-between items-center border-b border-black {{ last ? 'border-none' : ''}}">
                   <a 
                      href="{{ url }}" 
                      class="w-full uppercase tracking-wider leading-none pt-11 pb-6  {{ is_current || is_parent ? 'font-calibre-semi font-semibold' : '' }}" 
                      target="{{ is_external ? '_blank' : '_self' }}">
                      {{ title | replace(' ', '&nbsp;') }}
                    </a>
                    {{ if children }}
                      <button
                        class="flex justify-end items-center size-24 pr-4 cursor-pointer" 
                        data-flyout-item-parent="{{ title | slugify }}">
                        {{ if is_current || is_parent }}
                          {{ partial:icons/chevrons/right-small-bold }}
                        {{ else }}
                          {{ partial:icons/chevrons/right-small-light }}
                        {{ /if }}
                      </button>
                    {{ /if }}
                  {{ if children }}
                    <ul 
                      data-flyout-item-children="{{ title | slugify }}"
                      class="absolute invisible top-5 h-auto w-auto pl-20 [&>li>a]:!pb-1 [&>li>a]:!pt-7 [&>li>a]:block [&>li>a]:whitespace-nowrap">
                      {{ *recursive children* }}
                    </ul>
                  {{ /if }}
                </li>
              {{ /children }}
            </ul>
          </div>
        {{ /if }}
      {{ /nav:main }}
    </div>
  </div>
</nav>