<nav 
  x-cloak 
  x-show="has_menu"
  x-transition:enter="transition ease-out duration-200"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-200"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  class="bg-white h-dvh overflow-y-auto fixed z-10 top-0 left-0 w-full pt-80 pb-40 pl-20 pr-25 {{ class }}">
  <ul class="flex flex-col space-y-30">
    {{ nav:main }}
      {{ partial:menu/mobile/item }}
    {{ /nav:main }}
  </ul>
</nav>
