<div class="bg-tangerine">
  {{ partial:layout/inner class="py-30" }}

    {{ partial:components/headings/h2 class="text-white font-extrabold uppercase text-xl mb-15"  }}
      Partner
    {{ /partial:components/headings/h2 }}
    <div class="grid grid-cols-6 gap-15 lg:gap-25">
      {{ partners:partner }}
        <a 
          href="{{ url }}" 
          target="_blank"
          class="col-span-3 sm:col-span-2 md:col-span-1">
          {{ partial:media/image :image="logo" class="w-full h-auto" }}
        </a>
      {{ /partners:partner }}
    </div>
  {{ /partial:layout/inner }}
</div>