<div class="{{ theme }}">

  {{ partial:layout/inner class="py-30 md:py-60" }}

    {{ partial:layout/grid }}

      <div class="sm:col-span-full md:col-span-2">
        
        {{ partial:components/headings/byline }}
          {{ history_subtitle | nl2br }}
        {{ /partial:components/headings/byline }}

        {{ partial:components/headings/h2 class="{{ theme }}" }}
          {{ history_title | nl2br }}
        {{ /partial:components/headings/h2 }}
        
      </div>

      <div class="sm:col-span-full md:col-span-4 flex flex-col gap-y-25 lg:gap-y-50 lg:mt-22">
        {{ history_items }}
          <div class="flex gap-x-40 lg:gap-x-50">
            <h3 class="font-extrabold text-lg lg:text-xl leading-none lg:mt-1">
              {{ year }}
            </h3>
            <div class="relative before:content-[''] before:block before:absolute before:-left-20 md:before:-left-24 before:w-1 before:bg-white before:h-[calc(100%_-_8px)] before:top-6">
              {{ text }}
            </div>
          </div>
        {{ /history_items }}
      </div>


    {{ /partial:layout/grid }}

  {{ /partial:layout/inner }}

</div>