{{ partial:layout/outer }}
  {{ partial:layout/inner  }}
    {{ partial:layout/grid class="relative" }}
      <div class="md:col-span-5">
        {{ partial:components/headings/h1 }}
          {{ title | nl2br }}
        {{ /partial:components/headings/h1 }}
      </div>
      <div class="md:col-span-6 lg:col-span-5 text-pretty relative">
        {{ text }}
      </div>
      {{ if splash_group_tour }}
        <a href="" title="Gruppenführungen ganzjährig" class="hidden md:block">
          {{ partial:icons/splash/group-tour class="md:w-90 xl:w-120 h-auto absolute z-60 md:-top-40 xl:-top-50 md:-right-20 xl:right-0" }}
        </a>
      {{ /if }}
      {{ if splash_opening_hours }}
        <a href="" title="Jeden Sonntag geöffnet" class="hidden md:block">
          {{ partial:icons/splash/opening-hours class="md:w-120 xl:w-170 h-auto absolute z-50 md:-top-130 md:right-10 xl:-top-170 xl:right-60" }}
        </a>
      {{ /if }}
    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/outer }}