{{ partial:layout/outer }}
  {{ partial:layout/inner }}
    {{ if anchor_name }}
      {{ partial:components/blocks/anchor }}
    {{ /if }}

    {{ if page_teaser_title }}
      {{ partial:components/headings/h2 class="mb-10 lg:mb-20" }}
        {{ page_teaser_title }}
      {{ /partial:components/headings/h2 }}
    {{ /if }}

    {{ partial:layout/grid class="relative" }}
      {{ teasers }}

        {{ if teaser_type == 'image_title_text' }}
          <div class="{{ teaser_columns == 3 ? 'md:col-span-4' : 'md:col-span-3' }}">
            {{ if teaser_image }}
              {{ partial:media/image 
                class="w-full h-auto"
                wrapperClass="mb-10 md:mb-20" 
                preset="focal-16-10"
                sizes="['lg', 'md']"
                :image="teaser_image" }}
            {{ /if }}
            {{ partial:components/headings/h2 class="!text-sm lg:!text-md leading-[1.1] mb-5 lg:mb-10" }}
              {{ teaser_title }}
            {{ /partial:components/headings/h2 }}
            <div>
              {{ if teaser_text }}
                {{ teaser_text }}
              {{ /if }}
            </div>
            {{ if links }}
              <div class="mt-10 md:mt-20 flex space-x-20">
                {{ links }}
                  {{ partial:components/buttons/secondary label="{{ teaser_link_text ?? 'Mehr erfahren' }}" url="{{ teaser_link_url }}" }}
                {{ /links }}
              </div>
            {{ /if }}
          </div>
        {{ /if }}

        {{ if teaser_type == 'image_title' }}
          <div class="{{ teaser_columns == 3 ? 'md:col-span-4' : 'md:col-span-6 lg:col-span-3' }}">
            {{ if teaser_image }}
              {{ l = links | first }}
              <a 
                href="{{ l:teaser_link_url }}"
                title="{{ l:teaser_link_text ?? 'Mehr erfahren' }}"
                class="md:text-white relative block group after:content-[''] after:absolute after:inset-0 after:z-5 after:bg-black/30 after:opacity-100 after:transition-opacity md:hover:after:opacity-30">
                {{ partial:media/image 
                  class="w-full h-auto"
                  preset="focal-16-10"
                  sizes="['lg', 'md']"
                  :image="teaser_image" }}
                {{# <h3 class="md:!text-white mt-10 md:mt-0 md:absolute md:top-15 md:left-15 {{ teaser_columns == 3 ? 'lg:top-25 lg:left-25' : 'lg:top-20 lg:left-20'}} z-10 text-md md:opacity-0 group-hover:opacity-100 transition-opacity">
                  {{ teaser_title }}
                </h3>
                <div class="md:leading-none flex items-center space-x-5 md:absolute md:bottom-15 md:left-15 {{ teaser_columns == 3 ? 'lg:bottom-25 lg:left-25' : 'lg:bottom-20 lg:left-20'}} z-10 text-sm md:opacity-0 group-hover:opacity-100 transition-opacity">
                  {{ partial:icons/chevrons/right-small-light class="block w-7 h-auto md:text-white -mt-5" }}
                  <span class="block">{{ l:teaser_link_text ?? 'Mehr erfahren' }}</span>
                </div> #}}
                <h3 class="md:!text-white mt-10 md:mt-0 md:absolute md:top-15 md:left-15 {{ teaser_columns == 3 ? 'lg:top-25 lg:left-25' : 'lg:top-20 lg:left-20'}} z-10 text-md">
                  {{ teaser_title }}
                </h3>
                <div class="md:leading-none flex items-center space-x-5 md:absolute md:bottom-15 md:left-15 {{ teaser_columns == 3 ? 'lg:bottom-25 lg:left-25' : 'lg:bottom-20 lg:left-20'}} z-10 text-sm">
                  {{ partial:icons/chevrons/right-small-light class="block w-7 h-auto md:text-white -mt-5" }}
                  <span class="block">{{ l:teaser_link_text ?? 'Mehr erfahren' }}</span>
                </div>
              </a>
            {{ /if }}
          </div>
        {{ /if }}

      {{ /teasers }}

    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/outer }}