<div class="{{ theme }}">

  {{ partial:layout/inner class="py-30 md:py-60" }}

    {{ partial:layout/grid }}

      <div class="sm:col-span-full md:col-span-2">
        
        {{ partial:components/headings/byline }}
          {{ replacement_cars_subtitle | nl2br }}
        {{ /partial:components/headings/byline }}

        {{ partial:components/headings/h2 class="{{ theme }}" has_after="true" }}
          {{ replacement_cars_title | nl2br }}
        {{ /partial:components/headings/h2 }}
        
      </div>

      <div class="sm:col-span-full md:col-span-4 md:pt-22 max-w-prose">
        {{ text | nl2br }}
      </div>

    {{ /partial:layout/grid }}

    {{ partial:layout/grid class="flex flex-col space-y-20 sm:space-y-0 sm:gap-y-30 md:gap-y-45 mt-20 md:mt-40" }}
      {{ replacement_cars }}
        <div class="sm:col-span-2">
          {{ partial:media/image 
              wrapperClass="mb-10 lg:mb-15"
              class="w-full h-auto" 
              :image="image" 
              preset="focal-16-9" 
              sizes="['md', 'lg', 'xl']" }}
          <h4 class="font-extrabold uppercase text-tangerine">
            {{ replacement_car_title }}
          </h4>
          {{ if attributes }}
            <ul class="slash">
              {{ attributes }}
                <li>
                  {{ attribute_text }}
                </li>
              {{ /attributes }}
            </ul>
          {{ /if }}
        </div>
      {{ /replacement_cars }}
    {{ /partial:layout/grid }}

  {{ /partial:layout/inner }}

</div>