{{ partial:layout/outer }}
  {{ partial:layout/inner }}
    {{ if anchor_name }}
      {{ partial:components/blocks/anchor }}
    {{ /if }}

    {{ if shop_teaser_title }}
      {{ partial:components/headings/h2 class="mb-10 lg:mb-20" }}
        {{ shop_teaser_title }}
      {{ /partial:components/headings/h2 }}
    {{ /if }}

    {{ if shop_teaser_text }} 
      {{ partial:components/blocks/editor :editor="shop_teaser_text" }}
    {{ /if }}

    {{ if articles }}

      {{ partial:layout/grid class="sm:grid sm:grid-cols-12 sm:gap-20 mt-20 lg:mt-40" }}

        {{ articles }}
          <div class="sm:col-span-6 md:col-span-3">

            {{ if article_image }}  
              {{ partial:media/image 
                wrapperClass="bg-white aspect-[16/10] flex items-center justify-center py-5 lg:py-15 mb-10 lg:mb-20"
                class="w-full h-auto"
                preset="focal-16-9"
                sizes="['lg', 'md']"
                :image="article_image" }}
            {{ /if }}

           {{ partial:components/headings/h3 class="mb-5" }}
              {{ article_title }}
            {{ /partial:components/headings/h3 }}

            {{ if article_description }}
              {{ article_description }}
            {{ /if }}

          </div>

        {{ /articles }}

      {{ /partial:layout/grid }}

    {{ /if }}

  {{ /partial:layout/inner }}
{{ /partial:layout/outer }}