{{ partial:layout/outer }}
  {{ partial:layout/inner }}

    {{ if anchor_name }}
      {{ partial:components/blocks/anchor }}
    {{ /if }}

    {{ if title }}
      {{ partial:components/headings/h2 class="mb-15 lg:mb-25"  }}
        {{ title }}
      {{ /partial:components/headings/h2 }}
    {{ /if }}
    {{ partial:layout/grid }}
      {{ if editor_left }}
        <article class="text-pretty md:col-span-6">
          {{ partial:components/blocks/editor :editor="editor_left" }}
        </article>
      {{ /if }}
      {{ if editor_right }}
        <article class="text-pretty md:col-span-6">
          {{ partial:components/blocks/editor :editor="editor_right" }}
        </article>
      {{ /if }}
    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/outer }}