{{ partial:layout/outer }}

  {{ partial:layout/inner }}

    {{ if anchor_name }}
      {{ partial:components/blocks/anchor }}
    {{ /if }}

    {{ partial:layout/grid }}

    {{ articles }}
      <article class="text-pretty md:col-span-6">

        {{ if subtitle }}
          <div class="font-calibre-semi font-semibold">{{ subtitle }}</div>
        {{ /if }}

        {{ if title }}
          {{ partial:components/headings/h3 class="!text-md mb-10 lg:mb-15" }}
            {{ title }}
          {{ /partial:components/headings/h3 }}
        {{ /if }}

        {{ if image }}
          {{ partial:media/image 
            class="w-full h-auto md:max-w-sm mb-10 lg:mb-25"
            preset="focal-16-10"
            sizes="['lg', 'md']"
            :image="image" }}
        {{ /if }}

        {{ if editor }}
          {{ partial:components/blocks/editor }}
        {{ /if }}

      </article>
    {{ /articles}}

    {{ /partial:layout/grid }}

  {{ /partial:layout/inner }}

{{ /partial:layout/outer }}